:root {
  --body-bg: #fffaf0;
  --body-primary: #0b0b0b;
  --header-bg: #e6eedf;
  --header-boxshadow: rgba(11, 11, 11, 0.2);
  --divider: rgba(11, 11, 11, 0.2);
  --link-primary: #0b0b0b;
  --link-border: rgba(11, 11, 11, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  position: fixed;
  gap: 0.25rem;
  top: 1.25rem;
  right: 1.5rem;
}

nav,
header section,
.contact-info,
.content,
article ul {
  display: flex;
  flex-direction: column;
}

main,
header,
header article {
  display: grid;
}

header section,
.social-media,
.content {
  gap: 1rem;
}

nav a {
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  place-items: center;
  width: 100%;
}

body {
  font-family: "Fira sans", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: var(--body-bg);
  color: var(--body-primary);
  padding-bottom: 2rem;
}

header {
  box-shadow: 0 0 20px var(--header-boxshadow);
  width: 100%;
  grid-auto-flow: column;
  gap: 6rem;
  background-color: var(--header-bg);
  padding-block: 2rem;
  place-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

aside img {
  height: 140px;
}

header article {
  place-items: start;
}

header article *,
.social-media,
.content article:not(:last-child)::after,
h5 {
  margin: 0;
}

article h1,
header section,
aside a,
.content h2,
.content p,
.link {
  font-weight: 300;
}

header h2,
h4,
h5 {
  font-weight: 400;
}

article h1 {
  font-size: 1.8rem;
}

article h1::after {
  content: "";
  display: block;
  margin-block: 0.45em;
  height: 1px;
  width: 3em;
  background-color: var(--divider);
  opacity: 0.35;
}

header h2 {
  text-transform: uppercase;
  font-size: 0.925rem;
  letter-spacing: 3px;
  margin-bottom: 2em;
}

header section {
  align-items: start;
  text-align: start;
}

.contact-info {
  padding: 0;
  align-items: start;
  gap: 0.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.social-media i {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--body-primary);
  outline: none;
}

aside a {
  letter-spacing: 0.04rem;
}

a:hover,
a:focus,
a:active::after {
  opacity: 0.5;
}

.content {
  max-width: 900px;
}

.content h2 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.1;
  padding: 1rem 0;
}

.content p {
  font-size: 1rem;
  margin-block: 0.75rem;
}

ul {
  list-style: none;
  padding-left: 0.8rem;
  gap: 0.75rem;
}

.content article:nth-of-type(3) ul {
  gap: 2rem;
}

.content article:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--divider);
  opacity: 0.65;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 0.975rem;
  margin-bottom: 0.5rem;
}

span {
  font-size: 0.85rem;
  font-weight: 200;
}

.link {
  font-size: 15px;
  color: var(--link-primary);
  border: 1px solid var(--link-border);
  border-radius: 100vw;
  margin-block: 0.75rem;
  display: block;
  width: fit-content;
  padding: 0.25rem 1rem;
}

.link i {
  margin-left: 0.25rem;
}

.fa-external-link-alt {
  opacity: 0.8;
}

@media (max-width: 40em) {
  header {
    grid-auto-flow: dense;
    place-items: center;
    gap: 2rem;
    padding-inline: 1rem;
  }

  header article * {
    place-self: center;
    text-align: center;
  }

  article h1::after {
    margin-inline: auto;
  }
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
  * {
    font-size: 12px !important;
  }
  nav {
    display: none;
  }
  .social-media {
    display: none;
  }
  article {
    break-inside: avoid;
    break-before: always;
  }
  h2,
  h4 {
    break-before: always;
  }

  li {
    break-inside: avoid;
  }
  .link {
    display: none;
  }
}
